<div class="footer-nav">
  <div class="nav-item">
    <ion-button  fill="clear" >
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </div>

  <div class="nav-item">
    <ion-button routerLink="/cita" fill="clear">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="nav-item">
    <ion-button  fill="clear">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="nav-item">
    <ion-button  fill="clear">
      <ion-icon name="time-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="nav-item">
    <ion-button  fill="clear">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </div>
</div>