.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 14px 0;
  height: 70px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.08);
  z-index: 999;

  margin-top: 50px;
}

.nav-item {
  ion-icon {
    font-size: 24px;
    color: #777;
  }
}

.active {
  ion-icon {
    color: #5bcf9b;
  }
}

.chat-btn {
  position: relative;

  ion-badge {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 10px;
    min-width: 16px;
    height: 16px;
    padding: 0 4px;
    border-radius: 8px;
  }
}