<ion-content class="appointment-content hide-scrollbar">

  <div class="page-container"><!-- Header -->
    <app-header></app-header>


    <!-- Fecha -->
    <div class="section">
      <h2>Selecciona una Fecha</h2>

      <div class="calendar-card">
        <ion-datetime presentation="date" [(ngModel)]="selectedDate" [min]="minDate" locale="es-ES" prefer-wheel="false"
          show-default-buttons="false">
        </ion-datetime>
      </div>
    </div>

    <!-- Horarios -->
    <div class="section">
      <h2>Horarios Disponibles</h2>

      <div class="times-grid">
        <button *ngFor="let time of availableTimes" class="time" [class.selected-time]="selectedTime === time"
          (click)="selectTime(time)">
          {{ time }}
        </button>
      </div>
    </div>

    <!-- Dentistas -->
    <div class="section">
      <h2>Elegir Dentista</h2>

      <div class="doctors">
        <div *ngFor="let doctor of doctors" class="doctor" [class.selected-doctor]="selectedDoctor?.id === doctor.id"
          (click)="selectDoctor(doctor)">

          <img [src]="doctor.image" alt="">
          <p>{{ doctor.name }}</p>
        </div>
      </div>
    </div>

    <!-- Resumen -->
    <div class="summary" *ngIf="selectedDate && selectedTime && selectedDoctor">
      <h3>Resumen</h3>
      <p><strong>Fecha:</strong> {{ selectedDate | date:'dd/MM/yyyy' }}</p>
      <p><strong>Hora:</strong> {{ selectedTime }}</p>
      <p><strong>Dentista:</strong> {{ selectedDoctor.name }}</p>
    </div>

    <!-- Botón -->
    <div class="footer-btn">
      <ion-button expand="block" shape="round" [disabled]="!canConfirm()">
        Confirmación
      </ion-button>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>