<ion-content class="perfil-content">

  <!-- PERFIL -->
  <div class="perfil-card">

    <div class="top-header">
      <div>
        <h2>Perfil de Paciente:</h2>
        <p>[cite:USER]</p>
      </div>

      <ion-icon name="person-circle-outline" class="perfil-icon"></ion-icon>
    </div>

    <div class="info-container">
        <img src="assets/paciente.jpg" alt="Paciente">

      <div class="datos">
        <h3>Contacto info</h3>

        <div class="dato">
          <ion-icon name="call-outline"></ion-icon>
          <span>+51 908 556 397</span>
        </div>

        <div class="dato">
          <ion-icon name="mail-outline"></ion-icon>
          <span>pruebva@ucvvirtual.edu.pe</span>
        </div>

      </div>

    </div>

  </div>

  <!-- HISTORIAL -->
  <div class="historial-section">

    <div class="historial-title">
      <h2>Historial Clínico Digital</h2>
      <ion-icon name="clipboard-outline"></ion-icon>
    </div>

    <!-- CARD 1 -->
    <div class="historial-card">

      <div class="fila">
        <strong>Fecha</strong>
        <span>12/11/2026</span>
      </div>

      <div class="fila">
        <strong>Tratamiento</strong>
        <span>Dr. nombre</span>
      </div>

      <div class="fila">
        <strong>Observaciones</strong>
        <span>[cits:2026]</span>
      </div>

      <div class="fila">
        <strong>Descargar PDF</strong>

        <div class="descargar-fila">
          <ion-button fill="clear" class="btn-pdf">
            <ion-icon slot="start" name="download-outline"></ion-icon>
            Descargar
          </ion-button>
        </div>
      </div>

    </div>

    <!-- CARD 2 -->
    <div class="historial-card">

      <div class="fila">
        <strong>Fecha</strong>
        <span>Endodoncia</span>
      </div>

      <div class="fila">
        <strong>Tratamiento</strong>
        <span>Dr. nombre</span>
      </div>

      <div class="fila">
        <strong>Observaciones</strong>
        <span>[citte:2026]</span>
      </div>

      <div class="fila descargar-fila">
        <strong>Descargar PDF</strong>

        <ion-button fill="clear" class="btn-pdf">
          <ion-icon slot="start" name="download-outline"></ion-icon>
          Descargar
        </ion-button>

      </div>

    </div>

  </div>

</ion-content>

<app-footer></app-footer>