@import "@ionic/angular/css/palettes/dark.always.css";
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");


.perfil-content {
    --background: #d3edf1;
    font-family: 'Poppins', sans-serif;
}

.perfil-card {
    padding: 30px 12px 5px;
    position: relative;
}

.top-header {
    background-color: #f4f4f4;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
    min-width: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h2 {
        font-size: 30px;
        font-weight: 600;
        color: #222;
        margin: 0;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    p {
        margin-top: 4px;
        color: #222;
        font-weight: 600;
        font-size: 12px;
    }
}

.perfil-icon {
    font-size: 37px;
    color: #3a3a3a;
}

.info-container {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 11px;
    opacity: 90%;
    box-shadow: 0px 4px 6px rgb(201, 200, 200);
}

.info-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #7fb7ab;
    object-fit: cover;
    flex-shrink: 0;
}

.datos {
    padding: 5px;
    flex: 1;
    min-width: 0;

    h3 {
        margin: 0 0 10px;
        font-size: 20px;
        font-weight: 700;
        color: #222;
    }
}

.dato {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 8px;
    color: #333;
    font-size: 16px;
    min-width: 0;

    ion-icon {
        font-size: 18px;
        flex-shrink: 0;
        margin-top: 2px;
    }

    span {
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
}

.historial-section {
    padding: 25px;
    width: 380px;
    margin: 0 auto;
}

.historial-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 21px;
        font-weight: 700;
        color: #222;
    }

    ion-icon {
        font-size: 28px;
        color: #333;
    }
}

.historial-card {
    background: #f4f4f4;
    border-radius: 18px;
    padding: 16px;
    margin-top: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 12px;

    strong {
        font-size: 17px;
        color: #222;
    }

    span {
        font-size: 16px;
        color: #333;
        text-align: right;
    }
}

.btn-pdf {
    display: flex;
    align-items: center;
    gap: 5px;

    ion-icon {
        font-size: 18px;
    }
}